body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
  /*background-color: #000000;*/
  width cover;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

body .container{
	/*background-color:white;*/
}

body .form{
  margin-left: 37%;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://c1.staticflickr.com/4/3122/3127152549_966114fee3_b.jpg');
  background-size: auto;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron_portfolio {
  display: flex;
  align-items: center;
  background-image: url('no_redirect.jpg');
  background-size: cover;
  color: #000000;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron_resume {
  display: flex;
  align-items: center;
  background-image: url('no_redirect.jpg');
  background-size: cover;
  color: #000000;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron_about {
  display: flex;
  align-items: center;
  background-image: url('https://pixabay.com/p-928246/?no_redirect');
  background-size: cover;
  color: #000000;
  height: 200px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron_contact {
  display: flex;
  align-items: center;
  background-image: url('https://pixabay.com/p-928246/?no_redirect');
  background-size: cover;
  color: #000000;
  height: 200px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}


.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-sm-6 {
  margin: 30px 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #CCCCCC;
  text-shadow: none;
  background-color: rgb(30, 60, 100);
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: rgb(63, 123, 199);
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

/*-----------------contact input------------*/

input, textarea{
  padding: 8px;
  border: 1px solid #C9C9C9;
  width: 300px;
  box-shadow: rgba(0,0,0,0.2) 0px 0px 8px;
  -moz-box-shadow:  rgba(0,0,0,0.2) 0px 0px 8px;
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 0px 8px;
}

textarea{
  width: 400px;
  height: 150px;
}

input:hover, textarea:hover,
input:focus, textarea: focus{
  border: 1px solid #DADADA;
  box-shadow: rgba(0,0,0,0.5) 0px 0px 8px;
  -moz-box-shadow:  rgba(0,0,0,0.5) 0px 0px 8px;
  -webkit-box-shadow: rgba(0,0,0,0.5) 0px 0px 8px;
}

.form label{
  text-align: left;
  margin-left: 5px;
  padding-top: 15px;
  vertical-align: top;
  display: block;
  float: top;
}

.submit input{
  width: 100px;
  margin-top: 15px;
  background-color: #474E69;
  color: #FFFFFF;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/*-----------------contact input------------*/

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}